<section
  id="spaceholder-globalmap-edge-ui"
  class="spaceholder globalmap-edge-ui sh-gm-edge"
  data-flyout-left="false"
  data-flyout-right="false"
  data-inspector="true"
  aria-label="Глобальная карта"
>
  <div class="sh-gm-edge__topWrap">
    <div class="sh-gm-edge__top" role="region" aria-label="Меню">
      <div class="sh-gm-edge__leftCluster" role="group" aria-label="Инструменты">
        {{#if isGM}}
        <button
          type="button"
          class="icon-btn sh-gm-edge__edgeBtn sh-gm-edge__edgeBtn--left"
          data-action="toggle-flyout"
          data-side="left"
          aria-label="Инструменты"
          aria-expanded="false"
          data-tooltip="Инструменты"
        ><i class="fa-solid fa-chevron-left" aria-hidden="true"></i></button>
        {{/if}}

        <button
          type="button"
          class="icon-btn sh-gm-edge__iconBtn sh-gm-edge__factionBtn"
          data-action="open-token-faction"
          aria-label="Фракция"
          data-tooltip="Фракция"
          hidden
        ><i class="fa-solid fa-book-open" aria-hidden="true"></i></button>

        <button
          type="button"
          class="icon-btn sh-gm-edge__iconBtn sh-gm-edge__linkBtn"
          data-action="open-token-link"
          aria-label="Ссылка"
          data-tooltip="Ссылка"
          hidden
        ><i class="fa-solid fa-link" aria-hidden="true"></i></button>

        <div
          class="sh-gm-edge__statusIcon sh-gm-edge__visIcon"
          aria-label="Видимость"
          data-tooltip="Видимость"
          hidden
        ><i class="fa-solid fa-user" aria-hidden="true"></i></div>
      </div>

      <div class="sh-gm-edge__identity" aria-label="Токен">
        <div class="sh-gm-edge__name" data-autofit data-fit-max="20" data-fit-min="13" data-field="tokenName">{{tokenName}}</div>
        <div class="sh-gm-edge__faction" data-autofit data-fit-max="16" data-fit-min="11" data-field="tokenFaction">{{tokenFaction}}</div>
      </div>

      <div class="sh-gm-edge__rightCluster" role="group" aria-label="Видимость">
        {{#if showTimeline}}
          <button
            type="button"
            class="icon-btn sh-gm-edge__iconBtn sh-gm-edge__timelineBtn"
            data-action="open-timeline"
            aria-label="Таймлайн"
            data-tooltip="Таймлайн"
          ><i class="fa-solid fa-timeline" aria-hidden="true"></i></button>
        {{/if}}

        <button
          type="button"
          class="icon-btn sh-gm-edge__iconBtn sh-gm-edge__refreshBtn"
          data-action="load-map"
          aria-label="Обновить карту"
          data-tooltip="Обновить карту"
        ><i class="fa-solid fa-arrows-rotate" aria-hidden="true"></i></button>

        <button
          type="button"
          class="icon-btn sh-gm-edge__edgeBtn sh-gm-edge__edgeBtn--right"
          data-action="toggle-flyout"
          data-side="right"
          aria-label="Видимость"
          aria-expanded="false"
          data-tooltip="Видимость"
        ><i class="fa-solid fa-chevron-right" aria-hidden="true"></i></button>
      </div>
    </div>

    <aside class="sh-gm-edge__flyout sh-gm-edge__flyout--left" aria-hidden="true">
      <div class="sh-gm-edge__flyoutBody">
        <div class="sh-gm-edge__flyoutGrid" role="group" aria-label="Инструменты">
          <button type="button" class="sh-gm-edge__btn" data-action="import-map">Импорт…</button>
          <button type="button" class="sh-gm-edge__btn" data-action="save-map">Сохранить…</button>
          <button type="button" class="sh-gm-edge__btn" data-action="bake-map-background">Запечь…</button>
          <button type="button" class="sh-gm-edge__btn" data-action="create-test-grid">Тестовая сетка</button>
          <button type="button" class="sh-gm-edge__btn" data-action="edit-map">Редактировать…</button>
          <button type="button" class="sh-gm-edge__btn" data-action="global-map-undo" disabled>Отменить</button>
          <button type="button" class="sh-gm-edge__btn" data-action="global-map-redo" disabled>Повторить</button>
          <button type="button" class="sh-gm-edge__btn" data-action="open-biome-editor">Список биомов…</button>
          <button type="button" class="sh-gm-edge__btn danger" data-action="clear-map">Очистить…</button>
        </div>
      </div>
    </aside>

    <aside class="sh-gm-edge__flyout sh-gm-edge__flyout--right" aria-hidden="true">
      <div class="sh-gm-edge__flyoutBody" role="group" aria-label="Видимость">
        <div class="sh-gm-edge__setting">
          <div class="sh-gm-edge__settingLabel">Биомы</div>
          <div class="sh-gm-edge__selector sh-gm-edge__selector--mini" data-select="biomes" data-value="fancy" role="group" aria-label="Биомы">
            <button type="button" class="sh-gm-edge__selectorBtn is-active" data-action="select" data-select="biomes" data-value="fancy" aria-pressed="true">Fancy</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="biomes" data-value="fancyDebug" aria-pressed="false">Debug</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="biomes" data-value="cells" aria-pressed="false">Cells</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="biomes" data-value="off" aria-pressed="false">Off</button>
          </div>
        </div>

        <div class="sh-gm-edge__setting">
          <div class="sh-gm-edge__settingLabel">Высоты</div>
          <div class="sh-gm-edge__selector sh-gm-edge__selector--mini" data-select="heights" data-value="contours-bw" role="group" aria-label="Высоты">
            <button type="button" class="sh-gm-edge__selectorBtn is-active" data-action="select" data-select="heights" data-value="contours-bw" aria-pressed="true">BW</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="heights" data-value="contours" aria-pressed="false">Contours</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="heights" data-value="cells" aria-pressed="false">Cells</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="heights" data-value="off" aria-pressed="false">Off</button>
          </div>
        </div>

        <div class="sh-gm-edge__setting">
          <div class="sh-gm-edge__settingLabel">Назв. рек</div>
          <div class="sh-gm-edge__selector sh-gm-edge__selector--mini" data-select="riverLabels" data-value="hover" role="group" aria-label="Названия рек">
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="riverLabels" data-value="off" aria-pressed="false">Выкл</button>
            <button type="button" class="sh-gm-edge__selectorBtn is-active" data-action="select" data-select="riverLabels" data-value="hover" aria-pressed="true">Нав.</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="riverLabels" data-value="always" aria-pressed="false">Всегда</button>
          </div>
        </div>

        <div class="sh-gm-edge__setting">
          <div class="sh-gm-edge__settingLabel">Пов. назв. рек</div>
          <div class="sh-gm-edge__selector sh-gm-edge__selector--mini" data-select="riverLabelRotate" data-value="on" role="group" aria-label="Поворот названий рек">
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="riverLabelRotate" data-value="off" aria-pressed="false">Off</button>
            <button type="button" class="sh-gm-edge__selectorBtn is-active" data-action="select" data-select="riverLabelRotate" data-value="on" aria-pressed="true">On</button>
          </div>
        </div>

        <div class="sh-gm-edge__setting">
          <div class="sh-gm-edge__settingLabel">Регионы</div>
          <div class="sh-gm-edge__selector sh-gm-edge__selector--mini" data-select="regions" data-value="full" role="group" aria-label="Регионы">
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="regions" data-value="name" aria-pressed="false">Назв.</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="regions" data-value="border" aria-pressed="false">Назв.+гр.</button>
            <button type="button" class="sh-gm-edge__selectorBtn is-active" data-action="select" data-select="regions" data-value="full" aria-pressed="true">Целиком</button>
          </div>
        </div>

        <div class="sh-gm-edge__setting">
          <div class="sh-gm-edge__settingLabel"></div>
          <div class="sh-gm-edge__selector sh-gm-edge__selector--mini" data-select="regionsWhen" data-value="hover" role="group" aria-label="Показ регионов">
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="regionsWhen" data-value="off" aria-pressed="false">Выкл</button>
            <button type="button" class="sh-gm-edge__selectorBtn is-active" data-action="select" data-select="regionsWhen" data-value="hover" aria-pressed="true">Нав.</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="regionsWhen" data-value="always" aria-pressed="false">Всегда</button>
          </div>
        </div>

        <div class="sh-gm-edge__setting">
          <div class="sh-gm-edge__settingLabel">Сглаж.</div>
          <div class="sh-gm-edge__selector sh-gm-edge__selector--mini" data-select="smooth" data-value="4" role="group" aria-label="Сглаживание">
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="smooth" data-value="0" aria-pressed="false">0</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="smooth" data-value="1" aria-pressed="false">1</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="smooth" data-value="2" aria-pressed="false">2</button>
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="smooth" data-value="3" aria-pressed="false">3</button>
            <button type="button" class="sh-gm-edge__selectorBtn is-active" data-action="select" data-select="smooth" data-value="4" aria-pressed="true">4</button>
          </div>
        </div>

        <div class="sh-gm-edge__setting">
          <div class="sh-gm-edge__settingLabel">Аним. появ.</div>
          <div class="sh-gm-edge__selector sh-gm-edge__selector--mini" data-select="appearAnim" data-value="on" role="group" aria-label="Анимация появления">
            <button type="button" class="sh-gm-edge__selectorBtn" data-action="select" data-select="appearAnim" data-value="off" aria-pressed="false">Off</button>
            <button type="button" class="sh-gm-edge__selectorBtn is-active" data-action="select" data-select="appearAnim" data-value="on" aria-pressed="true">On</button>

            <input
              type="number"
              class="sh-gm-edge__selectorInput"
              data-field="appearAnimDurationMs"
              value="180"
              min="0"
              max="2000"
              step="10"
              inputmode="numeric"
              aria-label="Длительность (мс)"
              data-tooltip="мс"
            />
            <span class="sh-gm-edge__selectorSuffix" aria-hidden="true">мс</span>
          </div>
        </div>
      </div>
    </aside>
  </div>

  <div class="sh-gm-edge__inspector" role="region" aria-label="Инспектор" aria-hidden="false">
    <div class="sh-gm-edge__inspectorOverlay" role="group" aria-label="Настройки инспектора">
      <button
        type="button"
        class="icon-btn sh-gm-edge__iconBtn sh-gm-edge__inspectorUpdatesBtn"
        data-action="toggle-inspector-updates"
        aria-label="Автообновление"
        aria-pressed="false"
        data-tooltip="Автообновление"
      ><i class="fa-solid fa-lock-open" aria-hidden="true"></i></button>
    </div>

    <div class="sh-gm-edge__inspectorBody">
      <div class="sh-gm-edge__inspectGrid" role="group" aria-label="Данные">
        <div class="sh-gm-edge__inspectCol" data-scope="biome">
          <div class="sh-gm-edge__inspectLabel">Биом</div>
          <div class="sh-gm-edge__inspectValue sh-gm-edge__inspectValue--biome">
            <canvas
              class="sh-gm-edge__biomeSwatch"
              data-field="inspectBiomeSwatch"
              width="20"
              height="20"
              aria-hidden="true"
            ></canvas>
            <span class="sh-gm-edge__inspectBiomeText" data-field="inspectBiomeValue">Неизвестно</span>
          </div>

          <div class="sh-gm-edge__inspectJournal" aria-label="Журнал биома">
            <div class="sh-gm-edge__journalRow sh-gm-edge__journalRow--linked" data-scope="biomeJournalLinked" hidden>
              <button
                type="button"
                class="sh-gm-edge__journalLink"
                data-action="open-inspect-biome-journal"
                aria-label="Открыть журнал биома"
              ><i class="fa-solid fa-book-open" aria-hidden="true"></i><span data-field="inspectBiomeJournalName"></span></button>

              {{#if isGM}}
              <button
                type="button"
                class="icon-btn sh-gm-edge__journalClear"
                data-action="clear-inspect-biome-journal"
                aria-label="Очистить"
                data-tooltip="Очистить"
              ><i class="fa-solid fa-xmark" aria-hidden="true"></i></button>
              {{/if}}
            </div>

            {{#if isGM}}
            <div
              class="sh-gm-edge__journalRow sh-gm-edge__journalRow--bind"
              data-scope="biomeJournalBind"
              data-drop-scope="biome"
              hidden
            >
              <input
                type="text"
                class="sh-gm-edge__journalInput"
                data-field="inspectBiomeJournalUuid"
                placeholder="Journal UUID"
                spellcheck="false"
              />
              <button
                type="button"
                class="icon-btn sh-gm-edge__journalApply"
                data-action="apply-inspect-biome-journal"
                aria-label="Привязать"
                data-tooltip="Привязать"
              ><i class="fa-solid fa-check" aria-hidden="true"></i></button>
            </div>
            {{/if}}
          </div>
        </div>

        <div class="sh-gm-edge__inspectCol" data-scope="region">
          <div class="sh-gm-edge__inspectLabel">Регион</div>
          <div class="sh-gm-edge__inspectValue" data-field="inspectRegionValue"></div>

          <div class="sh-gm-edge__inspectJournal" aria-label="Журнал региона">
            <div class="sh-gm-edge__journalRow sh-gm-edge__journalRow--linked" data-scope="regionJournalLinked" hidden>
              <button
                type="button"
                class="sh-gm-edge__journalLink"
                data-action="open-inspect-region-journal"
                aria-label="Открыть журнал региона"
              ><i class="fa-solid fa-book-open" aria-hidden="true"></i><span data-field="inspectRegionJournalName"></span></button>

              {{#if isGM}}
              <button
                type="button"
                class="icon-btn sh-gm-edge__journalClear"
                data-action="clear-inspect-region-journal"
                aria-label="Очистить"
                data-tooltip="Очистить"
              ><i class="fa-solid fa-xmark" aria-hidden="true"></i></button>
              {{/if}}
            </div>

            {{#if isGM}}
            <div
              class="sh-gm-edge__journalRow sh-gm-edge__journalRow--bind"
              data-scope="regionJournalBind"
              data-drop-scope="region"
              hidden
            >
              <input
                type="text"
                class="sh-gm-edge__journalInput"
                data-field="inspectRegionJournalUuid"
                placeholder="Journal UUID"
                spellcheck="false"
              />
              <button
                type="button"
                class="icon-btn sh-gm-edge__journalApply"
                data-action="apply-inspect-region-journal"
                aria-label="Привязать"
                data-tooltip="Привязать"
              ><i class="fa-solid fa-check" aria-hidden="true"></i></button>
            </div>
            {{/if}}
          </div>
        </div>

        <div class="sh-gm-edge__inspectCol" data-scope="influence">
          <div class="sh-gm-edge__inspectLabel">Влияние</div>
          <div class="sh-gm-edge__inspectValue" data-field="inspectInfluenceValue"></div>

          <div class="sh-gm-edge__inspectJournal" aria-label="Журнал влияния">
            <div class="sh-gm-edge__journalRow sh-gm-edge__journalRow--linked" data-scope="influenceJournalLinked" hidden>
              <button
                type="button"
                class="sh-gm-edge__journalLink"
                data-action="open-inspect-influence-journal"
                aria-label="Открыть журнал влияния"
              ><i class="fa-solid fa-book-open" aria-hidden="true"></i><span data-field="inspectInfluenceJournalName"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
