.window-app.spaceholder {
  .effects-list {
    .effect-source,
    .effect-duration {
      text-align: center;
      font-size: 12px;
      color: var(--sh-text-dim);
    }
  }

  .effects .item {
    .effect-source,
    .effect-duration,
    .effect-controls {
      text-align: center;
      font-size: 12px;
    }

    .effect-controls {
      border: none;
    }
  }
}
