{{!-- Оболочка диалога редактирования оружия v3. Контекст: dialogUid, body (HTML). --}}
<div class="sh-wv3 sh-wv3-dialog" data-sh-weapon-v3-dialog="{{dialogUid}}" data-sh-weapon-v3-dialog-root>
  <div data-sh-weapon-v3-dialog-body>
    {{{body}}}
  </div>
</div>
