// Flex utilities (scoped)

.window-app.spaceholder,
.spaceholder {
  // Base flex helpers used across core-like templates
  .flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }

  .flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 0;
    min-height: 0;
  }

  // Common modifier: center items on the cross axis
  .flex-center {
    align-items: center;
  }

  // Group containers (used by NPC header resources, etc.)
  .flex-group-center,
  .flex-group-left,
  .flex-group-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .flex-group-left {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .flex-group-right {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  .flexshrink {
    flex: 0;
  }

  .flex-between {
    justify-content: space-between;
  }

  .flexlarge {
    flex: 2;
  }

  // Alignment
  .align-left {
    justify-content: flex-start;
    text-align: left;
  }

  .align-right {
    justify-content: flex-end;
    text-align: right;
  }

  .align-center {
    justify-content: center;
    text-align: center;
  }
}
