<div class="form-group spaceholder-scene-global-map">
  <label>Глобальная карта</label>
  <div class="form-fields">
    <input type="checkbox" name="flags.spaceholder.isGlobalMap" data-dtype="Boolean" {{#if isGlobalMap}}checked{{/if}}>
  </div>
</div>
