<div class="form-group spaceholder-user-factions">
  <label>Фракции (Journal)</label>
  <div class="form-fields" style="flex-direction: column; align-items: stretch;">
    <textarea
      name="flags.spaceholder.factions"
      rows="4"
      placeholder="1 UUID на строку. Можно перетаскивать JournalEntry/JournalEntryPage сюда."
      style="resize: vertical;"
    >{{factionsText}}</textarea>
    <div class="flexrow" style="justify-content: flex-end;">
      <button type="button" class="icon-btn" data-action="spaceholder-user-factions-clear">
        <i class="fa-solid fa-xmark"></i> Очистить
      </button>
    </div>
  </div>
</div>
