// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/foundry-fonts';
@import 'global/chat';
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Components (each partial is responsible for scoping to .window-app.spaceholder) */
@import 'components/forms';
@import 'components/resource';
@import 'components/items';
@import 'components/effects';
@import 'components/character';
@import 'components/health';
@import 'components/injuries';
@import 'components/inventory';
@import 'components/globalobject';
@import 'components/faction';
@import 'components/globalmap-biome-editor';
@import 'components/globalmap-edge-ui';
@import 'components/journal-check';
@import 'components/journal-update-log';
@import 'components/timeline';
@import 'components/user-factions';
@import 'components/icon-picker';
